# ========================
# Node.js / React / Tailwind
# ========================
node_modules/
.env

# ========================
# Java compiled class files
# ========================
*.class

# ========================
# Logs
# ========================
*.log

# ========================
# IDE / OS files
# ========================
.vscode/
.idea/
.DS_Store